.container{
    border: 2px solid #0f0;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser{
    border-radius: 50%;
    border: 1px solid #0f0;
    width: 100px;
}